<ng-include src="'app/menu.html'"></ng-include>
<md-content flex>
    <md-subheader class="md-primary" style="{{::subheaderStyle}}">
        <span translate>attribute_train_subheader</span>
    </md-subheader>
    <div class="md-padding" ng-show="vm.loaded">
        <p translate>train_train_number</p>
        <md-autocomplete
                md-delay="200"
                md-selected-item="vm.selectedTrain"
                md-search-text="vm.searchTrainText"
                md-items="train in vm.querySearch('train', vm.searchTrainText,vm.trains)"
                md-item-text="vm.getFullTrain(train)"
                md-min-length="0"
                placeholder="{{'search' | translate}}">
            <md-item-template>
                <span md-highlight-text="vm.searchTrainText" md-highlight-flags="i">{{vm.getFullTrain(train)}}</span>
            </md-item-template>
        </md-autocomplete>
        <p translate>train_vehicle_number</p>
        <md-autocomplete
                md-input-id="wagonAC"
                md-selected-item-change="vm.onSelectedWagon()"
                md-delay="200"
                md-selected-item="vm.selectedWagon"
                md-search-text="vm.searchWagonText"
                md-items="wagon in vm.querySearch('wagon', vm.searchWagonText, vm.wagons)"
                md-item-text="wagon.display"
                md-min-length="1"
                placeholder="{{'search' | translate}}">
            <md-item-template>
                <span md-highlight-text="vm.searchWagonText" md-highlight-flags="i">{{wagon.display}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>
    <div ng-show="vm.loaded==false" layout="row" layout-sm="column" layout-align="center center">
        <p translate>loading</p>
    </div>
    <md-card ng-show="vm.addedWagons.length !== 0">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="wagonAutocomplete in vm.addedWagons">
                <div class="md-list-item-text">
                    <p>{{wagonAutocomplete.display}}</p>
                </div>
                <md-icon ng-click="vm.removeWagon($index)" md-svg-icon="img/icon_remove.svg"></md-icon>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
</md-content>

<footer>
    <md-button type="submit" ng-click="vm.nextClicked()" class="md-primary footer-button" style="{{::footerStyle}}">
        <span translate>location_button_next</span>
    </md-button>
</footer>