<md-content id="item-new-md-content" class="md-padding" style="padding-bottom: 0px">
    <form name="inputForm" ng-submit="vm.save()">
        <div layout="row" layout-sm="column">
            <div flex>
                <!-- Person -->
                <md-card>
                    <div id="header" layout="row" layout-align="start center" layout-fill>
                        <h3 translate>Erfasser(in)</h3>
                    </div>
                  <div id="subheader" layout="row" layout-align="start center" layout-fill>
                    <span translate>Suche... (PID oder Name)</span>
                  </div>
                    <md-divider></md-divider>
                    <md-autocomplete hide-sm style="width: 100%"
                                     md-delay="200"
                                     md-select-on-match="true"
                                     md-selected-item="itemNew.item.itemQs.refPerson"
                                     md-search-text="itemNew.searchPersonCreatorText"
                                     md-items="person in itemNew.itemService.querySearch('person', itemNew.searchPersonCreatorText, itemNew.itemService.persons)"
                                     md-item-text="person.display"
                                     md-min-length="0"
                                     placeholder="Suche*...">
                        <md-item-template>
                            <span ng-bind="person.display"></span>
                        </md-item-template>
                    </md-autocomplete>
                    <div ng-show="itemNew.invalidPerson" layout="column" layout-align="center center"
                         class="md-padding">
                        <span class="invalid" translate>mydata_error</span>
                    </div>
                </md-card>

                <!-- Category -->
                <md-card ng-click='vm.gotoDetail("app.category")' role="button">
                  <div id="header" layout="row" layout-align="start center" layout-fill>
                    <h3 translate>category_title</h3>
                  </div>
                  <div id="subheader" layout="row" layout-align="start center" layout-fill>
                    <span translate>Hauptkategorie auswählen und Unterkategorie suchen</span>
                  </div>
                  <md-divider></md-divider>
                  <md-input-container flex>
                    <!--<label>Hauptkategorie</label>-->
                    <md-select ng-model="itemNew.item.refItemCategory">
                      <md-option ng-repeat="category in itemNew.itemService.refItemCategories"
                                 ng-value="category"><span ng-bind="category.name"></span>
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-autocomplete
                    ng-show="itemNew.item.refItemCategory.id !== itemNew.itemService.refItemCategories[2].id"
                    hide-sm style="width: 100%"
                    md-delay="200"
                    md-select-on-match="true"
                    md-selected-item="itemNew.item.itemQs.refItemCategoryQs"
                    md-search-text="itemNew.searchCategoryQsText"
                    md-items="categoryQs in itemNew.itemService.querySearch('categoryQs', itemNew.searchCategoryQsText, itemNew.itemService.categoriesQs)"
                    md-item-text="categoryQs.display"
                    md-min-length="0"
                    placeholder="Suche*...">
                    <md-item-template>
                      <span ng-bind="categoryQs.display"></span>
                    </md-item-template>
                  </md-autocomplete>
                  <div ng-show="itemNew.invalidCategory" layout="column" layout-align="center center"
                       class="md-padding">
                    <span class="invalid" translate>Bitte Kategorie erfassen</span>
                  </div>
                </md-card>

                <!-- DateEvent -->
                <md-card ng-click='vm.gotoDetail("app.rhb_attribute_time")' role="button">
                  <div id="header" layout="row" layout-align="start center">
                    <h3 translate>attribute_title_time</h3>
                  </div>
                  <div id="subheader" layout="row" layout-align="start center" layout-fill>
                    <span translate>Erfassen Ereignissdatum/Zeit</span>
                  </div>
                  <md-divider></md-divider>
                  <div layout="row">
                    <md-input-container flex="33">
                      <label translate>Tag</label>
                      <md-select ng-model="itemNew.newSelectDay">
                        <md-option ng-repeat="day in ::itemNew.timeDays" ng-value="::day"><span
                          ng-bind="day"></span></md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex="33">
                      <label translate>Monat</label>
                      <md-select ng-model="itemNew.newSelectMonth">
                        <md-option ng-repeat="m1 in ::itemNew.timeMonths" ng-value="::$index"><span
                          ng-bind="m1"></md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex="33">
                      <label translate>Jahr</label>
                      <md-select ng-model="itemNew.newSelectYear">
                        <md-option ng-repeat="year in ::itemNew.timeYear" ng-value="::year"><span
                          ng-bind="year"></md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="row">
                    <md-input-container flex="33">
                      <label translate>Stunden</label>
                      <md-select ng-model="itemNew.newSelectHours">
                        <md-option ng-repeat="hours in ::itemNew.timeHours" ng-value="::$index"><span
                          ng-bind="hours"></md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex="33">
                      <label translate>Minuten</label>
                      <md-select ng-model="itemNew.newSelectMinutes">
                        <md-option ng-repeat="min in ::itemNew.timeMinutes" ng-value="::$index"><span
                          ng-bind="min"></span></md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div ng-show="itemNew.invalidDateEvent" layout="column" layout-align="center center"
                       class="md-padding">
                    <span class="invalid" translate>attribute_time_invalid_date</span>
                  </div>
                </md-card>

                <!-- Train/Wagon -->
                <md-card ng-click='vm.gotoDetail("app.rhb_attribute_train")' role="button">
                  <div id="header" layout="row" layout-align="start center" layout-fill>
                    <h3 translate>attribute_title_train</h3>
                  </div>
                  <div id="subheader" layout="row" layout-align="start center" layout-fill>
                    <span translate>Erfassen</span>
                  </div>
                  <md-divider></md-divider>
                  <div layout="column" class="md-padding">
                    <p translate>Zugnummer</p>
                    <md-autocomplete hide-sm style="width: 100%"
                                     md-delay="200"
                                     md-select-on-match="true"
                                     md-selected-item="itemNew.item.itemQs.refTrain"
                                     md-search-text="itemNew.searchTrainText"
                                     md-items="train in itemNew.itemService.querySearch('train', itemNew.searchTrainText, itemNew.itemService.trains)"
                                     md-item-text="train.display"
                                     md-min-length="0"
                                     placeholder="Suche*...">
                      <md-item-template>
                        <span ng-bind="train.display"></span>
                      </md-item-template>
                    </md-autocomplete>
                    <p translate>Wagennummer</p>
                    <md-autocomplete hide-sm style="width: 100%"
                                     md-delay="200"
                                     md-select-on-match="true"
                                     md-selected-item="itemNew.item.itemQs.refWagon"
                                     md-search-text="itemNew.searchWagonText"
                                     md-items="wagon in itemNew.itemService.querySearch('wagon', itemNew.searchWagonText, itemNew.itemService.wagons)"
                                     md-item-text="wagon.display"
                                     md-min-length="0"
                                     placeholder="Suche*...">
                      <md-item-template>
                        <span ng-bind="wagon.display"></span>
                      </md-item-template>
                    </md-autocomplete>
                  </div>
                  <div ng-show="itemNew.invalidTrain" layout="column" layout-align="center center" class="md-padding">
                    <span class="invalid" translate>overview_label_train_placeholder</span>
                  </div>
                </md-card>
              <md-card style="background-color: #eeeeee">
                <md-button layout-align="space-around center" class="md-primary footer-button"
                           ng-click="itemNew.confirmSubmit()" style="{{footerStyle}}">
                  <span translate>overview_button_send</span>
                </md-button>
              </md-card>

              </div>
            <div flex>
              <!-- Location -->
              <md-card>
                <div id="header" layout="row" layout-align="start center" layout-fill>
                  <h3 translate>location_title</h3>
                </div>
                <div id="subheader" layout="row" layout-align="start center" layout-fill>
                  <span translate>Erfassen (Mindestens ein Feld ausfüllen*)</span>
                </div>
                <md-divider></md-divider>
                <div class="md-padding">
                  <p translate>rhblocation_chooseLocation</p>
                  <md-autocomplete hide-sm style="width: 100%"
                                   md-delay="200"
                                   md-select-on-match="true"
                                   md-selected-item="itemNew.item.itemQs.refLocation"
                                   md-search-text="itemNew.searchLocationText"
                                   md-items="location in itemNew.itemService.querySearch('location', itemNew.searchLocationText, itemNew.itemService.locations)"
                                   md-item-text="location.display"
                                   md-min-length="0"
                                   placeholder="Suche*...">
                    <md-item-template>
                      <span ng-bind="location.display"></span>
                    </md-item-template>
                  </md-autocomplete>

                  <p translate>rhblocation_chooseTrack</p>
                  <md-autocomplete hide-sm style="width: 100%"
                                   md-delay="200"
                                   md-select-on-match="true"
                                   md-selected-item="itemNew.item.itemQs.refTrack"
                                   md-search-text="itemNew.searchTrackText"
                                   md-items="track in itemNew.itemService.querySearch('track', itemNew.searchTrackText, itemNew.itemService.tracks)"
                                   md-item-text="track.display"
                                   md-min-length="0"
                                   placeholder="Suche*...">
                    <md-item-template>
                      <span ng-bind="track.display"></span>
                    </md-item-template>
                  </md-autocomplete>

                  <p translate>rhblocation_choosePosition</p>

                  <div layout="row" class="positions">
                    <md-input-container>
                      <input ng-model="itemNew.currentTrackPosition[0]" maxlength="3" style="text-align:right"
                             type="tel">
                    </md-input-container>
                    .
                    <md-input-container>
                      <input ng-model="itemNew.currentTrackPosition[1]" maxlength="3" type="tel">
                    </md-input-container>
                    km*
                  </div>
                </div>
                <div ng-show="itemNew.invalidLocation" layout="column" layout-align="center center"
                     class="md-padding">
                  <span class="invalid" translate>overview_label_location_placeholder</span>
                </div>
              </md-card>

              <!-- Photos -->
              <md-card role="button">
                <div id="header" layout="row" layout-align="start center" layout-fill>
                  <h3 translate>photo_title</h3>
                </div>
                <div id="subheader" layout="row" layout-align="start center" layout-fill>
                  <span translate>Anhängen (Format jpg) / Es sind max. 3 Fotos möglich.</span>
                </div>
                <md-divider></md-divider>
                <!--<md-input-container flex>-->
                  <md-button class="md-raised" style="width: 150px;"
                             ngf-select ng-model="itemNew.files"
                             name="files"
                             ngf-multiple="true"
                             ngf-pattern="'image/jpeg'"
                             ngf-accept="'image/jpeg'"
                             ngf-max-size="10MB"
                             ngf-min-height="100"
                             ngf-keep="true"><span id="item-add-md-button">Foto(s) ausw&auml;hlen</span>
                  </md-button>
                  <div layout="row">
                    <span ng-repeat="file in itemNew.files" style="margin: 0.2em;"><img ngf-thumbnail="file" style="width: 100px; display: inline; vertical-align: middle;"/><br/>
                       <md-button ng-click="itemNew.removeFile($index)" style="width: auto"><ng-md-icon icon="highlight_remove"></ng-md-icon></md-button>
                    </span>
                  </div>
                <!--</md-input-container>-->
                <div ng-show="itemNew.invalidPhotos" layout="column" layout-align="center center" class="md-padding">
                  <span class="invalid" translate>Es sind max. 3 Fotos möglich.</span>
                </div>
              </md-card>

              <!-- Text -->
              <md-card role="button">
                <div id="header" layout="row" layout-align="start center" layout-fill>
                  <h3 translate>message_title</h3>
                </div>
                <div id="subheader" layout="row" layout-align="start center" layout-fill>
                  <span translate>Schreiben (Feld ausfüllen)</span>
                </div>
                <md-divider></md-divider>
                <md-input-container>
                  <label translate>message_placeholder</label>
                  <!--<textarea ng-model="storageService.currentTweet.txt" name="itext" columns="1" md-maxlength="160"></textarea>-->
                  <textarea name="text" ng-model="itemNew.item.txt" columns="3" md-maxlength="1000"></textarea>
                  <div ng-messages="inputForm.text.$error">
                    <div ng-message="md-maxlength"><span translate>input_error_too_long</span></div>
                  </div>
                </md-input-container>
                <div ng-show="itemNew.invalidText" layout="column" layout-align="center center" class="md-padding">
                  <span class="invalid" translate>overview_label_text_placeholder</span>
                </div>
              </md-card>

              <!-- Involved Persons -->
              <md-card ng-click='vm.gotoDetail("app.rhb_attribute_involvedPersons")' role="button">
                <div id="header" layout="row" layout-align="start center" layout-fill>
                  <h3 translate>attribute_title_involvedPersons</h3>
                </div>
                <div id="subheader" layout="row" layout-align="start center" layout-fill>
                  <span translate>Personen erfassen</span>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding">
                  <md-autocomplete style="width: 80%;margin-top: 4px" hide-sm
                                   md-delay="200"
                                   md-select-on-match="true"
                                   md-selected-item="itemNew.selectedPerson"
                                   md-search-text="itemNew.searchPersonText"
                                   md-items="person in itemNew.itemService.querySearch('person', itemNew.searchPersonText, itemNew.itemService.persons)"
                                   md-item-text="person.display"
                                   md-min-length="0"
                                   placeholder="Suche*...">
                    <md-item-template>
                      <span ng-bind="person.display"></span>
                    </md-item-template>
                  </md-autocomplete>
                  <md-button class="md-raised" style="width: 20%"
                             ng-click="itemNew.addPerson(itemNew.selectedPerson)"><span id="item-add-md-button"
                                                                                        translate>Hinzufügen</span></md-button>
                </div>
                <div layout="row" layout-align="space-between center">
                  <div class="error">{{itemNew.errorMessage}}</div>
                </div>

                <div ng-show="itemNew.addedPersons.length != 0">
                  <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in itemNew.addedPersons">
                      <div class="md-list-item-text">
                        <p>{{item.firstName}} {{item.lastName}} ({{item.id}})</p>

                        <p>{{item.department}}</p>
                      </div>
                      <!--<md-icon ng-click="itemNew.removePerson($index)"
                               md-svg-icon="img/icon_remove.svg"></md-icon>-->
                      <ng-md-icon ng-click="itemNew.removePerson($index)"
                                  icon="highlight_remove"></ng-md-icon>
                      <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                  </md-list>
                </div>
              </md-card>


            </div>
        </div>

    </form>
</md-content>
